.shop {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.gameinfo {
    width: 25vw;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round {
    font-size: 8vh;
    margin-top: 10vh;
}

#targetScore-text {
    font-size: 5vh;
    margin-top: 18vh;
}

#targetScore {
    font-size: 9vh;
}

#gold {
    color: #CFBC11;
    font-size: 4vh;
    margin-top: 18vh;
}

.background {
    width: 75vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.relic_box {
    width: 45vw;
    height: 20vh;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 2.1vh;
    background: #233B52;
    box-shadow: 1.0vh 1.0vh 0.4vh 0vh rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#relic {
    width: 5vw;
    height: 10vh;
    border-radius: 1.1vh;
    background: #1e3041;
    box-shadow: 0.4vh 0.4vh 0.4vh 0vh #131f2a inset;
}
#relic1 {
    width: 5vw;
    height: 10vh;
    border-radius: 1.1vh;
    background: #1e3041;
    box-shadow: 0.4vh 0.4vh 0.4vh 0vh #131f2a inset;
}
#relic2 {
    width: 5vw;
    height: 10vh;
    border-radius: 1.1vh;
    background: #1e3041;
    box-shadow: 0.4vh 0.4vh 0.4vh 0vh #131f2a inset;
}
#relic3 {
    width: 5vw;
    height: 10vh;
    border-radius: 1.1vh;
    background: #1e3041;
    box-shadow: 0.4vh 0.4vh 0.4vh 0vh #131f2a inset;
}
#relic4 {
    width: 5vw;
    height: 10vh;
    border-radius: 1.1vh;
    background: #1e3041;
    box-shadow: 0.4vh 0.4vh 0.4vh 0vh #131f2a inset;
}
#relic5 {
    width: 5vw;
    height: 10vh;
    border-radius: 1.1vh;
    background: #1e3041;
    box-shadow: 0.4vh 0.4vh 0.4vh 0vh #131f2a inset;
}

img.relic {
    width: 5vw;
    height: 10vh;
}

/* img.relic1 {
    width: 5vw;
    height: 10vh;
    display: none;
} */

.upgrade_reroll_box {
    width: 45vw;
    height: 27vh;
    margin-top: 2vh;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
}

.upgrade_box {
    width: 12vw;
    height: 27vh;
    border-radius: 2.1vh;
    background: #727272;
    box-shadow: 1.0vh 1.0vh 0.4vh 0vh rgba(0, 0, 0, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upgrade_box_text {
    font-size: 4vh;
    margin-bottom: 2vh;
}

#upgrade_box_button {
    width: 10vw;
    height: 7vh;
    border-radius: 1.4vh;
    background: #F1E14E;
    box-shadow: 0vh 0.7vh 0.4vh 0vh rgba(0, 0, 0, 0.50);
    color: #000;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reroll_box {
    width: 32vw;
    height: 27vh;
    border-radius: 2.1vh;
    background: #727272;
    box-shadow: 1.0vh 1.0vh 0.4vh 0vh rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reroll_box_button {
    width: 10vw;
    height: 7vh;
    border-radius: 1.4vh;
    background: #3CA9CC;
    box-shadow: 0vh 0.7vh 0.4vh 0vh rgba(0, 0, 0, 0.50);
    color: #000;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#relic_buy_box1 {
    width: 7vw;
    height: 17vh;
    color: #CFBC11;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#relic_buy_box2 {
    width: 7vw;
    height: 17vh;
    color: #CFBC11;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blockshop_button_box {
    width: 65vw;
    height: 38vh;
    margin-top: 2vh;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
}

.blockshop_box {
    width: 45vw;
    height: 38vh;
    border-radius: 2.1vh;
    background: #727272;
    box-shadow: 1.0vh 1.0vh 0.4vh 0vh rgba(0, 0, 0, 0.56);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#block_buy_box {
    width: 7vw;
    height: 17vh;
    color: #CFBC11;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img.block_yellow {
    width: 5vw;
    height: 10vh;
}
img.block_other {
    width: 5vw;
    height: 15vh;
}

.button_box {
    width: 15vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_button {
    width: 15vw;
    height: 16vh;
    border-radius: 1.4vh;
    background: #3C75CC;
    box-shadow: 0vh 0.7vh 0.4vh 0vh rgba(0, 0, 0, 0.50);
    color: #000;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_button {
    width: 15vw;
    height: 16vh;
    border-radius: 1.4vh;
    background: #CC3C3C;
    box-shadow: 0vh 0.7vh 0.4vh 0vh rgba(0, 0, 0, 0.50);
    color: #000;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}