.game-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
canvas {
    border: 0.1vh solid #000;
}

#hold {
    height: 15vh;
    margin-bottom: 50vh;
    margin-left: 10vh;
}
#tetris {
    height: 75vh;
    margin-left: 10vh;
}
#next {
    height: 45vh;
    margin-bottom: 20vh;
    margin-left: 10vh;
}

.gameinfo {
    width: 25vw;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round {
    font-size: 8vh;
    margin-top: 0vh;
}

#targetScore-text {
    font-size: 5vh;
    margin-top: 4vh;
}

#targetScore {
    font-size: 9vh;
}

#linecombo {
    font-size: 3vh;
    margin-top: 3vh;
}

#score-text {
    font-size: 5vh;
    margin-top: 1vh;
}

#score {
    font-size: 9vh;
}

#gold {
    color: #CFBC11;
    font-size: 4vh;
    margin-top: 3vh;
}

#line {
    border-top: 0.1vh solid #ffffff;
    margin: 3vh auto;
    width: 25vw;
}

.relics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
    height: 10vh;
    margin-top: 2vh;
}

#relic {
    width: 8vh;
    height: 8vh;
    border: 0.1vh solid white;
}

img.relic {
    width: 100%;
}